
.settings/org.eclipse.wst.jsdt.ui.superType.name

.buildpath

.settings/.jsdtscope

*.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.project

ENABLE_TYPO3_INSTALLATION_HELPER
